<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <label>Note:</label>
        <p><input type="text" class="form-control" id="note" placeholder="{{note}}" ng-model="note" readonly></p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>